.parentCont{
    justify-content: center;
    align-items: center;
    margin-left: 35rem;
    margin-top: -37rem;
    z-index: 1;

}
.form{
    display: flex;
    flex-direction: column;
    width: 15rem;
    gap: 1.5rem;
}
.btn{
    padding: 0.6rem;
    width: 9rem;
    margin-left: 3rem;
    font-size: 1.4rem;
    cursor: pointer;
}
.inp{
    padding: 0.7rem;
    font-size: 1rem;
    border: 2px solid black;
    border-radius: 10px;
}
.text{
    font-size: 1rem;
    border: 2px solid black;
    border-radius: 10px;
}